@use './app/AppHeader.scss';
@use './app/AppMenu.scss';
@use './features/clips/queue/Queue.scss';
@use './features/clips/queue/FloatingImportMenu.scss';
@use './features/clips/queue/TopSubmittersMarquee.scss';
@use './features/clips/queue/layouts/ClassicLayout.scss';
@use './features/clips/queue/layouts/SpotlightLayout.scss';
@use './features/clips/queue/players/videojs-theme.scss';
@use './features/settings/SettingsModal.scss';

:root {
  --initial-background-color: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --initial-background-color: #1A1B1E;
  }
}

html {
  background: var(--initial-background-color);
}

html,
body {
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(134, 142, 150, 0.8) transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

.app-scroll-container {
  overflow: auto !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.app-scroll-container::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
